:root {
    --whitenot: rgb(245, 250, 250);
    --linkgreen: rgb(140, 223, 140);
    --linkpink: rgb(245, 156, 248);
    --copyrye: #b2daff;
}

body {
    margin: 0;
    padding: 0;
}

.fromthetop {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    z-index: 1;
    width: 60%;                    /* 100% - 40% (20% each side) */
    margin: 0 auto;                /* Centers it horizontally */
}

.titleclass {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--whitenot);

    text-align: center;
    padding: 1.2rem;
}

.textbody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--whitenot);
    word-break: keep-all;
}

.common-backdrop {
    background-image: url(../images/common/default-background.svg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

.copyright-box {
    margin-top: auto; /* pushes footer to bottom if content is short */
}

.copyright-inner {
    margin: 0 5%; /* extra 10% margin on both sides within footer */
}

.copyright-line {
    height: 1px;
    background: var(--copyrye);
}

.copyright-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding-bottom: 1.9rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--copyrye);
}

.ytvids {
    display: inline;
}

.vidprev {
    display: inline-block;
    width: 50%;
}

.buttoncentre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colorlink a {
    font-style: oblique;
    text-decoration: none;
    color: var(--linkgreen);
    font-weight: 600;
}

.firsta {
    font-style: oblique;
    text-decoration: none;
    color: var(--linkgreen);
    font-weight: 600;
}

.seconda {
    font-style: oblique;
    text-decoration: none;
    color: var(--linkpink);
    font-weight: 600;
}


/* ------------------------- Media Queries ------------------------- */

@media (max-width: 1200px) {

    .vidprev {
        display: inline-block;
        width: 70%;
    }

    .fromthetop {
        width: 63%;
    }

}

@media (max-width: 1000px) {

    .vidprev {
        display: inline-block;
        width: 85%;
    }

    .fromthetop {
        width: 80%;
    }

}

/* Tablet */
@media (max-width: 880px) {

    .titleclass {
        padding: 1rem;
    }

    .vidprev {
        display: inline-block;
        width: 100%;
    }

    .fromthetop {
        width: 88%;
    }

}
