:root {
    --backgound-orange-1: #bd700b;
    --background-orange-2: #cc7c13;
    --logo-background-orange: #b8670b;
    --hover-red: #f04800;
    --divisions-peach: #eda163;
    --white: #fff;
    --white-slightly-transparent: #ffffffed;
    --selected-main: #39159b;
}

body {
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-animation {
    transition: none!important;
    animation: none!important;
}

.fixedpos {
    position: fixed;
    z-index: 100;
}

.slide-menu {
    height: 100vh;
    width: 260px;
    position: absolute;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='120' patternTransform='scale(2) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='%2381150dff'/><path d='M3.78 59.68c-.63 0-1.25.12-1.88.32-1.25.4-1.9 1.05-1.9 1.9 0 .85.4 1.65 1.25 2.5l2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5c.85.85 1.9 1.45 3.15 1.9 1.25.45 2.5.4 3.75 0a7.72 7.72 0 003.15-1.9l2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 1.2-1.2v-7.6l-1.2-1.2-2.5-2.5-2.5-2.5c-.85-.85-1.65-1.25-2.5-1.25-.85 0-1.65.4-2.5 1.25l-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5c-.85.85-1.65 1.25-2.5 1.25-.85 0-1.65-.4-2.5-1.25l-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5A8.31 8.31 0 005.65 60a5.33 5.33 0 00-1.87-.32zM60 61.53c-.03.12-.05.24-.05.37 0 .17.02.33.05.49zM0 73.1v7.6l1.3-1.3c.85-.85 1.25-1.65 1.25-2.5 0-.85-.4-1.65-1.25-2.5zm6.25 32.55c-.85 0-1.65.4-2.5 1.25l-2.5 2.5c-.85.85-1.25 1.65-1.25 2.5 0 .85.65 1.45 1.9 1.9 1.25.45 2.7.65 4.4.65 1.65 0 3.15-.2 4.4-.65 1.25-.45 1.9-1.05 1.9-1.9 0-.85-.4-1.65-1.25-2.5-.95-.85-1.75-1.65-2.6-2.5-.85-.85-1.65-1.25-2.5-1.25z'  stroke-width='1' stroke='none' fill='hsla(47,80.9%,61%,1)'/><path d='M31.15 4.35c-1.55.05-3.05.25-4.3.65s-1.9 1.05-1.9 1.9c0 .85.4 1.65 1.25 2.5l2.5 2.5c.85.85 1.65 1.25 2.5 1.25.85 0 1.65-.4 2.5-1.25l2.5-2.5c.85-.85 1.25-1.65 1.25-2.5 0-.85-.65-1.45-1.9-1.9-1.25-.4-2.7-.65-4.4-.65zM8.72 24.7c-.62 0-1.25.1-1.87.3a7.73 7.73 0 00-3.15 1.9l-2.5 2.5L0 30.6v10.05l1.25-1.25 2.5-2.5c.85-.85 1.65-1.25 2.5-1.25.85 0 1.65.4 2.5 1.25l2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5c.85.85 1.65 1.25 2.5 1.25.85 0 1.65-.4 2.5-1.25l2.5-2.5c.85-.85 1.25-1.65 1.25-2.5 0-.85-.4-1.65-1.25-2.5l-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5A8.31 8.31 0 0010.6 25c-.63-.2-1.25-.3-1.88-.3zM60 30.5l-1.35 1.35-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5c-.85.85-1.25 1.65-1.25 2.5 0 .85.65 1.45 1.9 1.9 1.3.45 2.55.45 3.8 0a7.73 7.73 0 003.15-1.9l2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5L60 40.6zM31.25 64.4c-1.65 0-3.15.2-4.4.65-1.25.45-1.9 1.05-1.9 1.9 0 .85.4 1.65 1.25 2.5l2.5 2.5c.85.85 1.65 1.25 2.5 1.25.85 0 1.65-.4 2.5-1.25l2.5-2.5c.85-.85 1.25-1.65 1.25-2.5 0-.85-.65-1.45-1.9-1.9a12.54 12.54 0 00-4.3-.65zM8.72 84.68A7.73 7.73 0 003.7 86.9l-2.5 2.5L0 90.6v10.05l1.25-1.25 2.5-2.5c.85-.85 1.65-1.25 2.5-1.25.85 0 1.65.4 2.5 1.25l2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5c.85.85 1.65 1.25 2.5 1.25.85 0 1.65-.4 2.5-1.25l2.5-2.5c.85-.85 1.25-1.65 1.25-2.5 0-.85-.4-1.65-1.25-2.5l-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5A8.31 8.31 0 0010.6 85a5.36 5.36 0 00-1.88-.32zM60 90.5l-1.35 1.35-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5c-.85.85-1.25 1.65-1.25 2.5 0 .85.65 1.45 1.9 1.9 1.25.45 2.55.45 3.8 0a7.73 7.73 0 003.15-1.9l2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5L60 100.6z'  stroke-width='1' stroke='none' fill='%23211d25ff'/><path d='M1.9 0C.65.4 0 1.05 0 1.9c0 .85.4 1.65 1.25 2.5l2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5c.85.85 1.9 1.45 3.15 1.9a6 6 0 003.75 0 7.72 7.72 0 003.15-1.9l2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 1.2-1.2v-7.6l-1.2-1.2-2.5-2.5-2.5-2.5c-.85-.85-1.65-1.25-2.5-1.25-.85 0-1.65.4-2.5 1.25l-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5-2.5 2.5c-.85.85-1.65 1.25-2.5 1.25-.85 0-1.65-.4-2.5-1.25l-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5-2.5A8.31 8.31 0 005.65 0zM60 1.53c-.03.12-.05.24-.05.37s.03.26.05.38zM0 13.1v7.6l1.3-1.3c.85-.85 1.25-1.65 1.25-2.5 0-.85-.4-1.65-1.25-2.5zm6.25 32.55c-.85 0-1.65.4-2.5 1.25l-2.5 2.5C.4 50.25 0 51.05 0 51.9c0 .85.65 1.45 1.9 1.9 1.25.4 2.7.65 4.4.65 1.65 0 3.15-.2 4.4-.65 1.25-.4 1.9-1.05 1.9-1.9 0-.85-.4-1.65-1.25-2.5-.95-.85-1.75-1.65-2.6-2.5-.85-.85-1.65-1.25-2.5-1.25zm-2.47 74.03c-.63 0-1.25.12-1.88.32h3.75a5.33 5.33 0 00-1.87-.32z'  stroke-width='1' stroke='none' fill='%232393aaff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.slider-hidden {
    transform: translateX(-260px);
    transition: transform 0.3s ease;
    box-shadow: 0;
}

.slider-visible {
    transform: translateX(0);
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.logo {
    color: var(--white-slightly-transparent);
    text-decoration-style: solid;
    text-decoration: solid;
    background-color: var(--logo-background-orange);
    font-weight: 800;
    font-size: 2.1em;
    text-align: right;
    padding: 10px 0;
    padding-right: 25px;
    pointer-events: none;
    border-bottom: var(--divisions-peach);
    border-bottom-width: 4px;
    border-bottom-style:inset;
}

.spacing-under-menu {
    height: 13px;
    background-color: var(--backgound-orange-1);
}

.menu-item {
    position: relative;   
    border-bottom: var(--divisions-peach);
    border-bottom-width: 2px;
    border-bottom-style:inset;
}

.menu-item a {
    color: var(--white);
    background-color: var(--backgound-orange-1);
    font-weight: 500;
    font-size: 1.3em;
    padding: 5px 25px 5px 25px;    
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    display: flex;
    justify-content: space-between;

}

.menu-item a:hover{
    color: var(--white);
    background-color: var(--hover-red);
}

.menu-selected-main a {
    color: var(--selected-main);
}

.menu-selected-main .inner-wrapper {
    color: var(--selected-main);
}

.sub-menu {
    display: none;
}

.sub-menu a{
    background-color: var(--background-orange-2);
    padding: 5px 25px 5px 40px;
    font-size: 1.1em;
    font-weight: 500;
}

.icon-span {
    display: flex;
    align-items: center;
}

.svgprop {    
    fill: none;
    stroke: var(--white); 
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.inner-wrapper:hover {
    cursor: pointer;
}

.rotate {
    transform: rotate(90deg);
}

.toggle-hamburger {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 110;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.toggle-hamburger .common {
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: var(--logo-background-orange);
    border-radius: 50px;
    transition: 0.3s ease;
}

/* -------------------------Hamburger Menu Start ------------------------- */

.toggle-hamburger .top_line-state-1 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle-hamburger .middle_line-state-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle-hamburger .bottom_line-state-1 {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle-hamburger .top_line-state-2 {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

.toggle-hamburger .bottom_line-state-2 {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

.toggle-hamburger .middle_line-state-2 {
    opacity: 0;
    transform: translateX(20px);
}

/* ------------------------- Hamburger Menu End ------------------------- */

/* ------------------------- Media Queries ------------------------- */

/* Tablet */
@media (max-width: 880px) {
    
    .slide-menu {
        width: 100vw;
        position: absolute;
    }

    .slider-hidden {
        transform: translateX(-100%);
    }
    
    .slider-visible {
        transform: translateX(0);
    }

    .menu-item a{
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
    }

    .inner-wrapper {
        width: 330px;
    }

    .sub-menu a{
        font-size: 1.2rem;
    }
}

/* Phone */

@media (max-width: 600px) {

    .inner-wrapper {
        width: 200px;
    }

}
